<div class="login-container" role="form" aria-labelledby="loginHeading">
  <h2 id="loginHeading">Login</h2>

  <form (submit)="onSubmit()">
    <div class="input-group">
      <label for="username" aria-required="true">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        aria-describedby="usernameDesc"
        aria-invalid="false"
      />
      <p id="usernameDesc" class="hidden">Enter your username.</p>
    </div>

    <div class="input-group">
      <label for="password" aria-required="true">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        aria-describedby="passwordDesc"
        aria-invalid="false"
      />
      <p id="passwordDesc" class="hidden">Enter your password.</p>
    </div>

    <button type="submit" aria-busy="false">Login</button>
    <!--Error message area-->

    <!--An empty div with aria-live="assertive" has been added below the form to be used for error messages. Whenever there's a change in its content, screen readers will immediately notify users.-->
    <div aria-live="assertive" class="hiden" id="errorMessage"></div>
  </form>
</div>
