<button
  (click)="toggleSideBar()"
  [attr.aria-label]="isSidebarVisible ? 'Close Sidebar' : 'Open Sidebar'"
>
  {{ isSidebarVisible ? "Close Sidebar" : "Open Sidebar" }}
</button>

<aside
  [class.visible]="isSidebarVisible"
  role="complementary"
  aria-label="Sidebar Menu"
  [attr.aria-expanded]="isSidebarVisible"
>
  <ul>
    <li>
      <a
        routerLink="/home"
        (click)="toggleSideBar()"
        aria-label="Navigate to home page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/users"
        (click)="toggleSideBar()"
        aria-label="Navigate to users page"
        >Users</a
      >
    </li>
    <li>
      <a
        routerLink="/registration"
        (click)="toggleSideBar()"
        aria-label="Navigate to registration page"
        >Register</a
      >
    </li>
  </ul>
</aside>
